      - name: Run Scan
        run: |
          # Find subdomains
          subfinder -d web-zaim.ru -o subs.txt
          
          # Check which ones are alive (Adding the required Header)
          httpx -l subs.txt -H "X-BugBounty: 0a526762-8467-4d46-a403-af4e79283f46" -o live.txt
          
          # Scan for Critical/High bugs (Rate limited to 5 req/s as per rules)
          nuclei -l live.txt -H "X-BugBounty: 0a526762-8467-4d46-a403-af4e79283f46" -rate-limit 5 -severity critical,high -o results.txt
